@model WebApplication1.Models.User
@{
    ViewBag.Title = "AddOrEdit";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add or Edit User</title>
    <style>
        * {
            padding: 0;
            box-sizing: border-box;
        }

        body {
            display: grid;
            place-items: center;
            align-items: center;
            justify-content: center;
            padding: 10px;
            background: url('../img/xxx.jpg') center/cover no-repeat;
            font-family: fantasy;
        }

        .container {
            position: relative;
            background: #fff;
            /* padding: 25px;*/
            display: grid;
            border-radius: 15px;
            box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
            place-items: center;
        }

        /*   .container header {
                font-size: 30px;
                font-weight: 900;
                text-align: center;
                line-height: 60px;
                color: black;
                user-select: none;
                border-radius: 15px 15px 15px 15px;
                background: linear-gradient(-135deg, #c850c0, #4158d0);
            }*/


        form .input-box input[type="submit"] {
            color: black;
            border: none;
            padding-left: 0;
            margin-top: -10px;
            font-size: 20px;
            font-weight: 800;
            cursor: pointer;
            background: linear-gradient(-135deg, #c850c0, #4158d0);
            transition: all 0.3s ease;
        }

        .form .input-box {
            width: 100%;
            margin-top: 20px;
        }



        .form :where(.input-box input, .select-box) {
            position: relative;
            height: 50px;
            width: 100%;
            outline: none;
            font-size: 10px;
            color: #707070;
            margin-top: 10px;
            border: 1px solid #ddd;
            border-radius: 20px;
            padding: 0 15px;
        }

        .input-box input:focus {
            box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
        }

        .form .column {
            display: flex;
            column-gap: 20px;
        }

        .form .gender-box {
            margin-top: 20px;
        }

        .gender-box h3 {
            color: #333;
            font-size: 1rem;
            font-weight: 400;
            margin-bottom: 8px;
        }

        .form :where(.gender-option, .gender) {
            display: flex;
            align-items: center;
            column-gap: 50px;
            flex-wrap: wrap;
        }
    </style>
</head>
<body>
    <section class="container">


        @using (Html.BeginForm("SaveC", "User", FormMethod.Post, new { @class = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="input-box">
                @Html.LabelFor(model => model.UserName, "Ad:")
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { placeholder = "AD", @required = "required" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>

            <div class="input-box">
                @Html.LabelFor(model => model.UserSurname, "Soyad:")
                @Html.EditorFor(model => model.UserSurname, new { htmlAttributes = new { placeholder = "SOYAD", @required = "required" } })
                @Html.ValidationMessageFor(model => model.UserSurname, "", new { @class = "text-danger" })
            </div>

            <div class="input-box">
                @Html.LabelFor(model => model.UserMail, "E-Posta:")
                @Html.EditorFor(model => model.UserMail, new { htmlAttributes = new { placeholder = "EMAİL", @required = "required" } })
                @Html.ValidationMessageFor(model => model.UserMail, "", new { @class = "text-danger" })
            </div>

            <div class="input-box">
                @Html.LabelFor(model => model.UserPass, "Sifre:")
                @Html.PasswordFor(model => model.UserPass, new { htmlAttributes = new { placeholder = "ŞİFRE", @required = "required" } })
                @Html.ValidationMessageFor(model => model.UserPass, "", new { @class = "text-danger" })
            </div>

            <div class="column">
                <div class="input-box">
                    @Html.LabelFor(model => model.UserPhone, "Telefon:")
                    @Html.EditorFor(model => model.UserPhone, new { htmlAttributes = new { type = "number", placeholder = "TELEFON", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.UserPhone, "", new { @class = "text-danger" })
                </div>
                <div class="input-box">
                    @Html.LabelFor(model => model.UserBirth, "Doğum Tarihi:")
                    @Html.EditorFor(model => model.UserBirth, new { htmlAttributes = new { type = "date", placeholder = "DOĞUM TARİHİ", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.UserBirth, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="gender-box">
                <h3>Cinsiyet</h3>
                <div class="gender-option">
                    <div class="gender">
                        @Html.RadioButtonFor(model => model.UserGender, "Male", new { id = "check-male", @checked = "checked" })
                        @Html.LabelFor(model => model.UserGender, "Erkek")
                    </div>
                    <div class="gender">
                        @Html.RadioButtonFor(model => model.UserGender, "Female", new { id = "check-female" })
                        @Html.LabelFor(model => model.UserGender, "Kadın")
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.UserPhoto, "Lütfen Fotoğraf Yükleyiniz", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" name="UserPhotoFile" id="UserPhotoFile" />
                    @Html.ValidationMessageFor(model => model.UserPhoto, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="input-box">
                @Html.LabelFor(model => model.SecurityQuestion, "Güvenli Kelimeniz")
                @Html.EditorFor(model => model.SecurityQuestion, new { htmlAttributes = new { placeholder = "Güvenli Kelimeniz", @required = "required" } })
                @Html.ValidationMessageFor(model => model.SecurityQuestion, "", new { @class = "text-danger" })
            </div>


            <div class="input-box">
                <input type="submit" value="KAYIT OL">
            </div>


        }
    </section>
</body>
</html>
