@model WebApplication1.Models.User

@{
    ViewBag.Title = "Edit User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit User</h2>

@using (Html.BeginForm("Update", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.UserName)
        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.UserSurname)
        @Html.TextBoxFor(model => model.UserSurname, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.UserBirth)
        @Html.TextBoxFor(model => model.UserBirth, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.UserMail)
        @Html.TextBoxFor(model => model.UserMail, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.UserMail)
        @Html.TextBoxFor(model => model.UserMail, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.UserPhone)
        @Html.TextBoxFor(model => model.UserPhone, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.UserRole)
        @Html.TextBoxFor(model => model.UserRole, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.RecordStatus)
        @Html.TextBoxFor(model => model.RecordStatus, new { @class = "form-control" })
    </div>

    <!-- Add other fields as needed -->

    <div class="form-group">
        @Html.LabelFor(model => model.UserPhoto)
        <input type="file" name="UserPhotoFile" />
    </div>

    <button type="submit" class="btn btn-primary">Update User</button>
   
}
