@model WebApplication1.Models.User

@{
    ViewBag.Title = "Edit User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Add your head content here -->
</head>

<body>
    <div class="container">
        <h2>Edit User</h2>
        @if (ViewBag.SuccessMessage != null)
        {
            <div class="alert alert-success">@ViewBag.SuccessMessage</div>
        }
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
        }

        @using (Html.BeginForm("EditUser", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UserSurname, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.UserSurname, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UserPass, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.UserPass, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UserBirth, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.UserBirth, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UserMail, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.UserMail, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UserGender, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.UserGender, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UserPhone, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.UserPhone, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UserPhoto, htmlAttributes: new { @class = "control-label" })
                <input type="file" name="UserPhotoFile" />
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UserRole, "User Role", htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(model => model.UserRole, new SelectList(new[]
                    {
                        new { Value = 1, Text = "User" },
                        new { Value = 3, Text = "Coach" }
                    }, "Value", "Text"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserRole, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        }
    </div>
</body>

</html>
