@model WebApplication1.Models.User

@{
    ViewBag.Title = "Edit User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit User</h2>

@using (Html.BeginForm("EditUser", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.UserName)
        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.UserSurname)
        @Html.TextBoxFor(model => model.UserSurname, new { @class = "form-control" })
    </div>

    <!-- Add other fields as needed -->

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
}
