@model WebApplication1.Models.User

@{
    ViewBag.Title = "Index";
}


<h2>User Profile</h2>

@if (Model != null)
{
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
        </dl>
    </div>
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserSurname)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserSurname)
            </dd>
        </dl>
    </div>
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserPhone)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserPhone)
            </dd>
        </dl>
    </div>
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserMail)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserMail)
            </dd>
        </dl>
    </div>
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserGender)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserGender)
            </dd>
        </dl>
    </div>
    <div>
        <dl class="dl-horizontal">
            <dt>
                User Photo
            </dt>
            <dd>
                @if (!string.IsNullOrEmpty(Model.UserPhoto))
                {
                    <img src="@Url.Content(Model.UserPhoto)" alt="User Photo" />
                }
                else
                {
                    <p>No photo available</p>
                }
            </dd>
        </dl>
    </div>

    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserBirth)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserBirth)
            </dd>
        </dl>
    </div>

    <p>
        @Html.ActionLink("Edit Profile", "Edit", "User")
    </p>
}
else
{
    <p>User not logged in. Please log in to view your profile.</p>
}